html {
  background-color: #4e879d;
  height: 100vh;
}

body {
  background-color: transparent;
}

.white_text {
  color: white !important;
}

.page_body {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.inner {
  width: 70%;
  margin: auto;
}

h3 {
  margin-top: 0px;
}

.edit_page {
  padding-left: 10px;
  padding-right: 10px;
}

.answer_link {
  text-decoration: underline;
  font-size: 14px;
}

.underline {
  text-decoration: underline;
}
